{% extends "base.html" %}

{% block content %}

<hr/>
<div class="maincounter">
	<div>
		<h2 class="lable">Coronavirus Cases:</h2>
		<div class="counter neutral">{{ cases }}</div>
	</div>
        <div>
                <h2 class="lable">Deaths:</h2>
                <div class="counter red">{{ deaths }}</div>
        </div>
</div>
<hr/>
<select onchange="selectType()">
        <option value="" disabled selected style="display:none;">Label</option>
        <option value="cases">cases</option>
        <option value="deaths">deaths</option>
        <option value="tests">tests</option>
</select>
<div class="charts">
        {% with data=country %}
        {% include 'chart1.html' %}
        {% endwith %}

        {% with data=bubble %}
        {% include 'chart2.html' %}
        {% endwith %}

        {% with data=continent %}
        {% include 'chart3.html' %}
        {% endwith %}
</div>

{% endblock %}
