{% extends "base.html" %}

{% block content %}

<hr/>
<div class="maincounter">
	<div>
		<h2 class="lable">Coronavirus Cases:</h2>
		<div class="counter neutral">{{ cases }}</div>
	</div>
        <div>
                <h2 class="lable">Deaths:</h2>
                <div class="counter red">{{ deaths }}</div>
        </div>
</div>
<hr/>
<script>
	function selectType() {
		var myselect = document.getElementById("selectOpt");
		window.location.href = "https://covid19proj.osc-fr1.scalingo.io/?type=" + myselect.options[myselect.selectedIndex].value;
	}
</script>
<select onchange="selectType()" id="selectOpt">
        <option value="" disabled selected style="display:none;">Select Type</option>
        <option value="cases">Cases</option>
        <option value="deaths">Deaths</option>
        <option value="tests">Tests</option>
</select>
<div class="charts">
        {% with data=country %}
        {% include 'chart1.html' %}
        {% endwith %}

        {% with data=bubble %}
        {% include 'chart2.html' %}
        {% endwith %}

        {% with data=continent %}
        {% include 'chart3.html' %}
        {% endwith %}
</div>

{% endblock %}
